@* @attribute [Authorize] *@

@page "/maintenance/create-maintenance-request"


<h3>Create new maintenance request</h3>

<div>
    <b> This is maintenance request page and it is under construction. Please revisit for updates</b>
</div>

@code {

}
