
@* @attribute [Authorize] *@
@page "/maintenance/list-maintenance-requests"


<h3>List of Maintenance Requests</h3>

<div> 
    <b> This is maintenance request page and it is under construction. Please revisit for updates</b>
</div>
@code {

}
