
@attribute [Authorize]
@page "/maintenance-requests"


<h3>MaintenanceRequest</h3>

<div> 
    <b> This is maintenance request page and it is under construction. Please revisit for updates</b>
</div>
@code {

}
